.atomsWeekDey,
.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  width: 14px;
  position: relative;
  min-width: 14px;
}
.atomsWeekDey {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-8xs);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
