.reasonChild {
  height: 620px;
  width: 430px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.contentArea {
  margin-left: -29px;
  height: 1499px;
  width: 24px;
  position: relative;
  background-color: var(--color-gainsboro);
  flex-shrink: 0;
}
.div {
  width: 155px;
  font-weight: 500;
  display: inline-block;
}
.div,
.div1,
.icon {
  position: relative;
}
.icon {
  height: 49px;
  width: 49px;
  overflow: hidden;
  flex-shrink: 0;
}
.div1 {
  line-height: 26.5px;
  font-weight: 500;
}
.stressDescriptionArea,
.stressIconArea,
.stressIndicator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stressDescriptionArea {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
}
.stressIconArea,
.stressIndicator {
  flex-direction: row;
}
.stressIconArea {
  flex: 1;
  gap: 15px;
}
.stressIndicator {
  align-self: stretch;
  padding: 0 0 0 var(--padding-lg);
  font-size: 22px;
}
.eventContentChild {
  width: 256px;
  height: 328px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.div2 {
  width: 70px;
  position: relative;
  display: inline-block;
  min-width: 70px;
  z-index: 2;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-52xl);
}
.imageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.eventContent {
  align-self: stretch;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-mini) 70.4px var(--padding-base);
  gap: var(--gap-39xl);
  z-index: 1;
}
.eventArea,
.eventContent,
.parent,
.reasonInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.eventArea {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 17px 0 var(--padding-lg);
  font-family: var(--font-hakgyoansim-samulham);
}
.parent,
.reasonInner {
  flex-direction: column;
  box-sizing: border-box;
}
.parent {
  width: 311px;
  flex: 1;
  padding: 0 var(--padding-xl) 0 0;
  gap: 65.5px;
}
.reasonInner {
  height: 613px;
  width: 373px;
  padding: 76px 0 0;
  max-width: calc(100% - 58px);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-pretendard);
}
.background,
.contentArea1 {
  background-color: var(--color-gainsboro);
}
.background {
  height: 328px;
  width: 256px;
  position: absolute;
  margin: 0 !important;
  top: 284px;
  right: -151px;
  border-radius: var(--br-xl);
  z-index: 2;
}
.contentArea1 {
  margin-top: -10px;
  height: 1553px;
  width: 24px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.reason {
  width: 100%;
  height: 932px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 319px 28px;
  box-sizing: border-box;
  gap: 5px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 311px) {
  .parent {
    gap: 33px;
  }
}
@media screen and (max-width: 255px) {
  .eventContent {
    gap: var(--gap-10xl);
  }
}
