.div {
  position: relative;
  font-weight: 500;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.mingcutemicFillIcon {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 68px;
  height: 68px;
  overflow: hidden;
  z-index: 1;
}
.instanceParent {
  height: 99px;
  flex: 1;
  position: relative;
}
.parent,
.scenarioLayout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.scenarioLayout {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-36xl) 0 53px;
}
.parent {
  width: 208px;
  flex-direction: column;
  gap: 532px;
  flex-shrink: 0;
}
.shape,
.shape1 {
  position: absolute;
}
.shape {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 24px;
  height: 1499px;
}
.shape1 {
  top: 274px;
  left: 22px;
  background-color: #efefef;
  width: 385px;
  height: 373px;
  z-index: 1;
}
.backgroundShapes {
  height: 100%;
  width: 407px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.shape2,
.voice {
  position: relative;
}
.shape2 {
  margin-top: -211px;
  height: 1553px;
  width: 24px;
  background-color: var(--color-gainsboro);
  flex-shrink: 0;
}
.voice {
  width: 100%;
  height: 932px;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-182xl) 110px 67px 112px;
  box-sizing: border-box;
  gap: 87px;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-pretendard);
}
@media screen and (max-width: 271px) {
  .voice {
    gap: 22px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
